---
# tasks file for elasticUninstall
- name: Uninstalling java in linux
  when: ansible_facts['distribution'] == "Amazon" or ansible_facts['distribution'] == "RedHat"
  block:
    - name: Install Elasticsearch
      apt:
        name: elasticsearch
        state: absent

- name: Uninstalling elastic Serch in ubuntu
  when: ansible_facts['distribution'] == "Ubuntu"
  block:
    - name: uninstall Elasticsearch
      apt:
        name: elasticsearch
        state: absent
