- name: Adding cluster name
  lineinfile:
    destfile: /etc/elasticsearch/elasticsearch.yml
    regexp: "cluster.name:"
    line: "cluster.name: {{ cluster_name }}"

- name: Updating the name in config file
  lineinfile:
    destfile: /etc/elasticsearch/elasticsearch.yml
    regexp: "node.name:"
    line: "node.name: {{ host_name }}"

# Update Elasticsearch config file to allow access (to secure Elasticsearch, bind to 'localhost').
- name: Updating the config file to allow outside access
  lineinfile:
    destfile: /etc/elasticsearch/elasticsearch.yml
    regexp: "network.host:"
    line: "network.host: 0.0.0.0"

# Update Elasticsearch port in config file
- name: Updating the port in config file
  lineinfile:
    destfile: /etc/elasticsearch/elasticsearch.yml
    regexp: "http.port:"
    line: "http.port: 9200"

- name: Updating the host in config file
  lineinfile:
    destfile: /etc/elasticsearch/elasticsearch.yml
    regexp: "discovery.zen.ping.unicast.hosts:"
    line: 'discovery.zen.ping.unicast.hosts: ["",""]'
