---
#
# Installing Elasticsearch
#
- name: Installing java in linux
  when: ansible_facts['distribution'] == "Amazon" or ansible_facts['distribution'] == "RedHat"
  block:
    - name: RedHat - add Elasticsearch repo
      become: yes
      template:
        src: "elasticsearch.repo"
        dest: "/etc/yum.repos.d/elasticsearch.repo"

    - name: Install Elasticsearch
      become: yes
      yum:
        name: elasticsearch
        state: present
        update_cache: yes

    - name: Basic configuration
      include_tasks: common-config.yml

# Add Elasticsearch apt key
- name: Installing elastic Serch in ubuntu
  when: ansible_facts['distribution'] == "Ubuntu"
  block:
    - name: Add Elasticsearch apt key
      apt_key:
        url: "https://packages.elastic.co/GPG-KEY-elasticsearch"
        state: present

    # Add the Elasticsearch apt repo. For versions 6 of the stack - use '6.x-prerelease':

    - name: Adding Elasticsearch repo
      apt_repository:
        repo: deb https://artifacts.elastic.co/packages/"{{ elasticVersion }}".x/apt stable main
        state: present

    # Installing Elasticsearch

    - name: Install Elasticsearch
      apt:
        name: elasticsearch
        update_cache: yes

    - name: Basic configuration
      include_tasks: common-config.yml
